Resources:
  ALBHostHeaderListenerRule443:
    Type: AWS::ElasticLoadBalancingV2::ListenerRule
    Properties:
      Actions:
        - Type: forward
          TargetGroupArn:
            Ref: https
      Conditions:
        - Field: host-header
          HostHeaderConfig:
            Values:
              - Fn::Join:
                  - ''
                  - - '{{resolve:ssm:/beanstalk/environments/'
                    - Ref: 'AWSEBEnvironmentName'
                    - '/parameters/ALBHostNameRestriction}}'
      ListenerArn:
        Ref: AWSEBV2LoadBalancerListener443
      Priority: 1
  AWSEBV2LoadBalancerListener443:
    Type: AWS::ElasticLoadBalancingV2::Listener
    Properties:
      DefaultActions:  
        - Type: fixed-response
          FixedResponseConfig:
            ContentType: 'application/json'
            MessageBody: '{ "message": "Forbidden" }'
            StatusCode: '403'