# This ebextension allows the instances to self report as Unhealthy when their disk is nearing full.
# An Unhealthy instance will be scheduled for replacement.

# Ensure that the elasticbeanstalk-ec2-role includes permission to set instance health
# - PolicyName: 'AutoScaling'
#   PolicyDocument: 
#     Version: "2012-10-17"
#     Statement: 
#       - Effect: Allow
#         Action: autoscaling:SetInstanceHealth
#         Resource: '*'

# The default ASG instance maintenance policy will launch and terminate instances at the same time.
# To avoid downtime when there may be only one instance, modify the policy to launch first.
# If using the autoscaling-health-check-type-elb.confg ebextension, these policies will need to be combined.
#   In that case, comment out this Resources section, and add these properties to the other extension file.

Resources:
  AWSEBAutoScalingGroup:
    Type: AWS::AutoScaling::AutoScalingGroup
    Properties:
      InstanceMaintenancePolicy:
        MaxHealthyPercentage: 200
        MinHealthyPercentage: 100


files:

  #This file must have a single blank line at the end
  "/etc/cron.d/monitor_disk":
    mode: "000644"
    owner: root
    group: root
    content: |+
      SHELL=/bin/bash
      PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin
      MAILTO=""
      HOME=/
      * * * * * root /usr/local/sbin/monitor_disk.sh
  
  "/usr/local/sbin/monitor_disk.sh":
    mode: "000744"
    owner: root
    group: root
    content: |
      #!/bin/bash

      schedule_replacement () {
          TOKEN=$(curl -X PUT "http://169.254.169.254/latest/api/token" -H "X-aws-ec2-metadata-token-ttl-seconds: 21600")
          EC2_ID=$(curl -H "X-aws-ec2-metadata-token: $TOKEN" -s http://169.254.169.254/latest/meta-data/instance-id)
          aws autoscaling set-instance-health --instance-id $EC2_ID --health-status Unhealthy
      }

      for i in / /tmp; do
          pct_used=$(df --output=pcent $i | tr -dc '0-9')
          if [ "$pct_used" -gt "80" ]; then
              schedule_replacement
          fi
      done
