Resources:
  AWSEBV2LoadBalancer:
    Type: AWS::ElasticLoadBalancingV2::LoadBalancer
    Properties:
      LoadBalancerAttributes:
        - Key: waf.fail_open.enabled
          Value: true
  EBLoadBalancerArnParameter:
    Type: AWS::SSM::Parameter
    Properties:
      Description: 'EB Load Balancer'
      Name:
        Fn::Join:
            - ''
            - - '/beanstalk/environments/'
              - Ref: 'AWSEBEnvironmentName'
              - '/parameters/EBLoadBalancerArn'
      Type: String
      Value: '`{ "Ref" : "AWSEBV2LoadBalancer" }`'
container_commands:
  command block:
    command: |
      env_name_var=$ENV_NAME
      region=$AWS_REGION
      waf_param="/beanstalk/environments/${env_name_var}/parameters/WebACLArn"
      lb_param="/beanstalk/environments/${env_name_var}/parameters/EBLoadBalancerArn"
      WAF=$(aws --region ${region} ssm get-parameter --name ${waf_param} --with-decryption --output text --query Parameter.Value)
      LB=$(aws --region ${region} ssm get-parameter --name ${lb_param} --with-decryption --output text --query Parameter.Value)
      if [ "${WAF}" != "no_waf" ]; then
        echo "WAF provided"
        aws wafv2 associate-web-acl --web-acl-arn "${WAF}" --resource-arn "${LB}" --region "${region}"
      else
        echo "WAF not provided"
        aws wafv2 disassociate-web-acl --resource-arn "${LB}" --region "${region}"
      fi